<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>货物上传</title>
    <style>
        input{
            width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
<form action="/admin/add" method="post"  >
    输入商品序号：<input type="text" name="productId"><br>
    输入商品名称：<input type="text" name="productName"><br>
    输入商品价格：<input type="text" name="salePrice"><br>
    上传商品图片：<input type="text" name="productImg"><br>
    <input type="submit" value="提交"><br>
</form>
</body>
</html>